<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }}</title>
</head>
<body>
<center>
    <h1>{{ name }}</h1>
    <p>Позиция кандидата: {{ position }}</p>
    <img src="{{ image }}" width=200/>
    <p>Навыки кандидата: {{ skills }}</p>
    <a href="/">На главную</a>
</center>
</body>
</html>