<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {color: gold}
        body {
            font-size:200%;
            background-color: mediumslateblue;
        }
    </style>
    <meta charset="UTF-8">
    <title>Гамильтон, Эдмонд</title>
</head>
<body>
<center>
    <h1>Эдмонд Мур Гамильтон</h1>
    <img src="https://upload.wikimedia.org/wikipedia/ru/9/9d/Edmond_Hamilton.jpg" weight=300px hight=200px alt="Украли картинку">
    <p><strong>Добрый день!!!!</strong></p>
    <p></p><a href="https://ru.wikipedia.org/wiki/Гамильтон,_Эдмонд">Здесь</a>
    <em>вы найдете более подробную информацию обо мне!</em></p>
    <mark>Я написал много интересных книг в жанре научной фантастики<br>
        <del>а об остальном вы сможете узнать</del>
        <a href="https://ru.wikipedia.org/wiki/Гамильтон,_Эдмонд">на этом сайте</a></mark>
</center>
</body>
</html>